@import url('http://fonts.cdnfonts.com/css/arial-rounded-mt-bold');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
    --palette-darkest: #073673;
    --palette-less-dark: #2182BF;
    --palette-mid: #F2911B;
    --palette-light: #F2AA6B;
    --palette-lightest: #F2F2F2;
    --animate-duration: 30s;
    --font-fam: 'Arial Rounded MT Bold', sans-serif;
}

@media screen and (max-width: 415px) {

    html {
        min-height: 100vh;
    }

    body {
        width: 100vw;
        background: linear-gradient(-110deg, #d89cece3, #92b7eec9);
        background-size: 240% 240%;
        animation: gradient-animation 28s ease infinite;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.25);
        opacity: 0.9;
        border-radius: 2em;
        padding-bottom: 2em;
        margin: 10vh 2em 0 2em;
        min-height: 50vh;
    }

    #title {
        font-size: 1.2em;
        padding: 0 0.1em 0.5em 0.1em;
    }

    .prompts {
        font-size: 1.2em;
        margin: 2em 1em 0 1em;
        /* text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.755); */
    }

    .input-email {
        font-size: 1em;
        height: 50px;
        border-radius: 0.5em;
        max-width: 65vw;
    }

    #btn-start,
    #btn-yes,
    #btn-no,
    #btn-finish {
        font-size: 1em;
    }

    .links {
        height: 100px;
        width: 90%;
        margin: 0 1em 2em 1em;
    }

    .bi {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 768px) {

    html {
        min-height: 100vh;
    }

    body {
        width: 100vw;
        background: linear-gradient(-156deg, #d89cece3, #92b7eec9);
        background-size: 240% 240%;
        animation: gradient-animation 28s ease infinite;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.25);
        opacity: 0.9;
        border-radius: 2em;
        padding-bottom: 2em;
        margin: 20vh 5em 0 5em;
    }

    #title {
        font-size: 1.5em;
        padding: 0 0.1em 0.5em 0.1em;
    }

    .prompts {
        font-size: 2em;
        margin: 2em 1em 0 1em;
        /* text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.952); */
    }

    .input-email {
        font-size: 1.5em;
        height: 75px;
        border-radius: 0.5em;
    }

    #btn-start,
    #btn-yes,
    #btn-no,
    #btn-finish {
        font-size: 1.5em;
    }

    .links {
        height: 100px;
        width: 90%;
        margin: 2em 1em 2em 1em;

    }

    .bi {
        width: 100px;
        height: 100px;
    }
}


* {
    margin: 0;
    padding: 0;
}

html {
    backdrop-filter: saturate(1.2);
}

body {
    font-family: var(--font-fam);
    color: #000;
    background: linear-gradient(-210deg, #d89cece3, #92b7eec9);
    background-size: 240% 240%;
    animation: gradient-animation 28s ease infinite;
}

/* div {
    border: 2px solid black;
} */



.prompts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.952); */
}

#title {
    margin-bottom: 1em;
}

#description {
    margin-bottom: 1em;
}

#input-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-email {
    width: 75vw;
    /* height: 50px; */
    background-color: var(--palette-lightest);
    border: 2px solid var(--palette-less-dark);
    text-align: center;
    margin: 1em;
}

#btn-finish {
    height: 3em;
    display: none;
    width: 50vw;
    background-color: var(--palette-less-dark);
    color: white;
    font-family: "Arial Rounded MT Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 0.75em;
    border: 2px solid #ffffff1b;
    margin: 0.5em;
}

.btn-start {
    height: 3em;
    width: 10em;
    background-color: var(--palette-less-dark);
    color: white;
    font-family: "Arial Rounded MT Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 2em;
    border: 2px solid #0000009a;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    width: 80vw;
    padding-top: 1em;
}

#btn-yes,
#btn-no {
    height: 3em;
    display: none;
    width: 50vw;
    background-color: var(--palette-less-dark);
    color: white;
    font-family: "Arial Rounded MT Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 0.75em;
    border: 2px solid #ffffff;
    margin: 0.5em;
}

.links {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff4b;
    border-radius: 1em;
}

#twitter-link,
#linkedin-link,
#facebook-link,
#website-link {
    justify-content: center;
    align-items: center;
}

i {
    margin: 0 0 0 0;
    color: #000;
}


@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}