@import url('http://fonts.cdnfonts.com/css/arial-rounded-mt-bold');

:root {
    --palette-darkest: #073673;
    --palette-less-dark: #2182BF;
    --palette-mid: #F2911B;
    --palette-light: #F2AA6B;
    --palette-lightest: #F2F2F2;
}

* {
  margin: 1em 0.1em 0.5em 0.1em;
  padding: 0;
}

body {
    font-family: "Arial Rounded MT Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* div {
    border: 2px solid black;
} */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prompts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.btn-start {
    height: 3em;
    width: 10em;
    background-color: var(--palette-less-dark);
    color: white;
    font-family: "Arial Rounded MT Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 2em;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    width: 100%;
}

#btn-yes, #btn-no {
    height: 3em;
    width: 10em;
    background-color: var(--palette-less-dark);
    color: white;
    font-family: "Arial Rounded MT Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 2em;
}